{% set page = 'document' %}
{% extends "/layout.html.twig" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            {% if owned_by_user %}
                <div class="card">
                    <div class="card-block">
                        <h3>Przetwarzanie OCR</h3>
                        {{ form_start(form) }}
                            {{ form_errors(form) }}
                            <div class="form-group row">
                                {{ form_label(form.lang, 'Język', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                                
                                <div class="col-sm-9">
                                    {{ form_widget(form.lang, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            {% if form_errors(form.lang) %}
                                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    {{ form_errors(form.lang) }}
                                </div>
                            {% endif %}
                            <div class="form-group row">
                                <div class="offset-sm-3 col-sm-9">
                                    {{ form_widget(form.recognize, {'label': 'Uruchom OCR','attr': {'class': 'btn btn-primary'}})}}
                                </div>
                            </div>

                            {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>

                <div class="card card-block">
                    <h4 class="card-title">Edycja</h4>
                    
                    {{ form_start(form_edit) }}
                        {{ form_errors(form_edit) }}
                        <div class="form-group row">
                            {{ form_label(form_edit.title, 'Tytuł', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                            
                            <div class="col-sm-9">
                                {{ form_widget(form_edit.title, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        {% if form_errors(form_edit.title) %}
                        <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        {{ form_errors(form_edit.title) }}
                        </div>
                        {% endif %}
                        <div class="form-group row">
                            {{ form_label(form_edit.privacy, 'Prywatność', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
                            
                            <div class="col-sm-9">
                                {{ form_widget(form_edit.privacy, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        {% if form_errors(form_edit.privacy) %}
                        <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        {{ form_errors(form_edit.privacy) }}
                        </div>
                        {% endif %}
                        <div class="form-group row">
                            <div class="offset-sm-3 col-sm-9">
                                {{ form_widget(form_edit.doedit, {'label': 'Edytuj','attr': {'class': 'btn btn-primary'}})}}
                            </div>
                        </div>

                        {{ form_widget(form_edit) }}
                    {{ form_end(form_edit) }}
            </div>
            {% else %}
                
            {% endif %}
            {% if document.alreadyScanned %}
                <div class="card">
                    <div class="card-block">
                        {{ document.recognizedText | nl2br }}
                    </div>
                </div>
            {% else %}
                <div class="alert alert-info" role="alert">
                    <strong>Brak treści!</strong> Ten dokument nie został jeszcze przeskanowany.
                    {% if owned_by_user %}
                        Możesz to zrobić teraz, korzystając z formularza powyżej.
                    {% endif %}
                </div>
            {% endif %}
            {% if owned_by_user %}
                <div class="card card-outline-danger">
                    <div class="card-block">
                        <h3 class="danger">Usuń dokument</h3>
                        {{ form_start(form_delete) }}
                        {{ form_errors(form_edit) }}
                        <div class="form-group row">
                            <div class="form-check has-danger">
                                <label class="form-check-label">
                                    {{ form_widget(form_delete.confirmation, {'attr': {'class': 'form-check-input'}}) }}
                                    Potwierdzam chęć usunięcia
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="">
                                {{ form_widget(form_delete.delete, {'label': 'Usuń','attr': {'class': 'btn btn-danger'}})}}
                            </div>
                        </div>
                        {{ form_widget(form_delete) }}
                        {{ form_end(form_delete)}}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-md-6">
            <h2>Obraz źródłowy</h2>
            <div class="card">
                <img class="img-fluid" src="/show/image/{{ document.id }}" alt="{{ document.abstract }}">
            </div>
        </div>
    </div>
</div>
{% endblock %}